
/***************************************************************************************/
/************************************ABOUT**********************************************/
/***************************************************************************************/


.contenido-about {
    padding: 8vw 16vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "texto texto texto texto"
    "texto texto texto texto"
    "form form map map"
    "form form map map";
    gap: 5%;
}


.titulo-about {
    grid-area: texto;

}
.formulario-about {
    grid-area: form;
}
.formulario-about form {
    display: flex;
    flex-direction: column;
}
.mapa-div {
    grid-area: map;
}
.mapa-div iframe {
    height: 100%;
    width: 100%;
}