/***************************************************************************************/
/**********************************AYUDA************************************************/
/***************************************************************************************/


.cont-ayuda {
    padding: 8vw 16vw;
}

.medios-pago {
    display: flex;
    justify-content: space-evenly;
}
.medios-pago img{
    width: 120px;
    height: 60px;
}


