
/*************NAVBAR**************************************/
header{
    position: sticky;
    top:0;
    left: 0;
    z-index: 1000;
    .navbar {
        padding: 0; 
        img {
            width: 250px;
        }
        .bg-color1 {
            background-color: $beige;
            padding: 0;
            form {
                width: 40%;
                .form-control {
                    width: 70%;
                    margin-right: 20px;
                    border: 2px solid $violeta-claro;
                    border-radius: 10px;
                }
                .bg-color3 {
                    border: 2px solid $violeta-claro;
                    color: $negroclarito;
                    &:hover {
                        background-color:$violeta-claro;
                        border: none;
                        color: $beige;
                    }
                }
            }

            .ml-auto {
                width: 10%; 
                img {
                    @include box-size(35px,35px,0,0);
                    &:hover{
                        transform: scale(1.2);
                        transition: all 0.2s ease-in-out;
                    }
                }  
            }       
        }

        .bg-color2 {
            background-color: $violeta-claro;
            padding: 0;   
            #navbarTogglerDemo02 {
                ul{
                    display: flex;
                    gap: 60px;
                    .nav-item {
                        transition: all 0.2s ease-in-out;
                        .nav-link{
                            @include desing-text(20px,$header_font,$negroclarito,30px,500,normal);
                        }
                        &:hover{
                            background:$beige
                        }
                    }
                }
            }
        }
    }
}
/*************************************************************/