
$headercolor1:#ffffec;
$headercolor2: #57297591;
$headercolor2b:#704f86f8;
$placeholdercolor: #C4C4C4;
$negroclarito: #1C1C1C;

$main_color: #f6f5f2;

$main_font: 'Nunito, sans-serif';

$header_font: 'Roboto';